;; _.forEach(matters, matter => {
  <archive class="entry__box" id="${_.get(matter, 'data.name')}">
    <div class="entry__inner-box">
      <header class="entry__header">
        <div class="entry__header-inner">

          <<layout.loopHeader(Object.assign({
            title: t`single:title`,
            category: t`single:category`
          }, {}), t)>>

        </div>
      </header>
      <div class="entry__body">
        <div class="entry__body-inner">
          ${matter.beginning}
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </archive>
;; })
