<div class="sidebar__box">
  <div class="sidebar__inner-box">
    <h1><a href="${site.url}">${site.name}</a></h1>

    ;; if (_.overEvery([_.isArray, _.size])(relation.entries)) {
      <section class="sidebar__section">
        <h4 class="sidebar__headline">${_.get(message, 'entries')}</h4>
        <div class="sidebar__inner-section">
          <ul class="sidebar__list">
            ;; _.forEach(_.get(relation, 'entries', []), matter => {
              <li class="sidebar__item">
                <div class="sidebar__inner-item">
                  <a href="/entries/${matter.data.name}/" id="${_.get(matter, 'data.name')}">${_.get(matter, 'data.title')}</a>
                </div>
              </li>
            ;; })
          </ul>
        </div>
      </section>
    ;; }

    ;; if (_.overEvery([_.isObject, _.size])(relation.categories)) {
      <section class="sidebar__section">
        <h4 class="sidebar__headline">${_.get(message, 'categories')}</h4>
        <div class="sidebar__inner-section">
          <ul class="sidebar__list">
            ;; _.forEach(relation.categories, (categories, categoryName) => {
              <li class="sidebar__item">
                <div class="sidebar__inner-item">
                  <a href="/categories/${categoryName}/">${categoryName}</a>
                </div>
              </li>
            ;; })
          </ul>
        </div>
      </section>
    ;; }

    ;; if (_.overEvery([_.isObject, _.size])(relation.tags)) {
      <section class="sidebar__section">
        <h4 class="sidebar__headline">${_.get(message, 'tags')}</h4>
        <div class="sidebar__inner-section">
          <ul class="sidebar__list">
            ;; _.forEach(relation.tags, (tags, tagName) => {
              <li class="sidebar__item">
                <div class="sidebar__inner-item">
                  <a href="/tags/${tagName}/">${tagName}</a>
                </div>
              </li>
            ;; })
          </ul>
        </div>
      </section>
    ;; }

    ;; if (_.overEvery([_.isObject, _.size])(relation.archives)) {
      <section class="sidebar__section">
        <h4 class="sidebar__headline">${_.get(message, 'archives')}</h4>
        <div class="sidebar__inner-section">
          <ul class="sidebar__list">
            ;; _.forEach(relation.archives, (archives, archiveName) => {
              <li class="sidebar__item">
                <div class="sidebar__inner-item">
                  <a href="/archives/${archiveName}/">${archiveName}</a>
                </div>
              </li>
            ;; })
          </ul>
        </div>
      </section>
    ;; }
  </div>
</div>
