<div class="sidebar__box">
  <div class="sidebar__inner-box">
    <<layout.sidebarHead({
      headline: t`sidebar:headline`
    }, t)>>

    <<layout.sidebarFoot(Object.assign({
      entry: t`sidebar:section`({
        headline: 'entries',
        list: _.get(collection, 'list.entries', []),
        templateUrl: templateUrl('entries'),
        templateTitle: templateTitle,
        templateCount: templateCount
      }),
      category: t`sidebar:section`({
        headline: 'categories',
        list: _.get(collection, 'list.categories', {}),
        templateUrl: templateUrl('categories'),
        templateTitle: templateTitle,
        templateCount: templateCount
      }),
    }, collection.getSidebarComponents(t, {
      templateUrl: templateUrl,
      templateTitle: templateTitle,
      templateCount: templateCount
    })))>>

  </div>
</div>
