<main class="main__box">
  <div class="main__inner-box">
    <article class="entry__box">
      <div class="entry__inner-box">
        <header class="entry__header">
          <div class="entry__inner-header">

            <<layout.singleHeader(Object.assign({
              title: t`single:title`,
              category: t`single:category`
            }, collection.getEntryComponents(t, {
            })))>>

            <h1 id="headline" class="entry__headline">${_.get(matter, 'data.title')}</h1>

            <ul class="entry__categories">
              <li class="entry__category">
                <a class="entry__link" href="/categories/${matter.data.category}/">${_.get(matter, 'data.category')}</a>
              </li>
            </ul>

            <ul class="entry__categories">
              ;; _.forEach(_.get(matter, 'data.tags', []), tag => {
                <li class="entry__category">
                  <a class="entry__link" href="/tags/${tag}/">${tag}</a>
                </li>
              ;; });
            </ul>
          </div>
        </header>
        <div class="entry__body">
          <div class="entry__inner-body">
            ${_.get(matter, 'content')}
          </div>
        </div>
      </div>

      <footer class="entry__footer">
        <div class="entry__footer-inner">

          <<layout.singleFooter(Object.assign({
            title: t`single:title`,
            category: t`single:category`
          }, collection.getEntryComponents(t, {
          })))>>

        </div>
      </footer>
    </article>
  </div>
</main>
