---
function: true
defaults:
  headline: ''
  list: []
  count: false
---

<% if (_.isArray(list)) { %>
  <section class="sidebar__section">
    <h4 class="sidebar__headline"><%= headline %></h4>
    <div class="sidebar__inner-section">
      <ul class="sidebar__list--entry sidebar__list">
        <% _.forEach(list, matter => { %>
          <li class="sidebar__item--entry sidebar__item">
            <div class="sidebar__inner-item">
              <a class="sidebar__link--entry sidebar__link"
                href="<%= _.get(matter, 'data.url') %>"
                id="<%= _.get(matter, 'data.name') %>"
              ><%= _.get(matter, 'data.title') %></a>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
<% } else if (_.isPlainObject(list)) { %>
  <section class="sidebar__section">
    <h4 class="sidebar__headline"><%= headline %></h4>
    <div class="sidebar__inner-section">
      <ul class="sidebar__list--entry sidebar__list">
        <% _.forEach(list, (childList, name) => { %>
          <li class="sidebar__item--entry sidebar__item">
            <div class="sidebar__inner-item">
              <a class="sidebar__link--entry sidebar__link"
                href="<%= templateUrl(name) %>"
              ><%= templateTitle(name) %>
              <% if (!_.isNil(count) && count) { %>
                <span class="sidebar__parenthesis">(</span>
                <span class="sidebar__count"><%= templateCount(childList) %></span>
                <span class="sidebar__parenthesis">)</span>
              <% } %>
              </a>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
<% } %>
