<!DOCTYPE html>
<<html>>

<head>
  <<layout.head({
    meta: t`head:meta`,
    title: t`head:title`,
    ogp: t`head:ogp`,
    twittercard: t`head:twittercard`
  }, t)>>
</head>

<body>
  <<layout.bodyHead(t)>>
  <<layout.bodySingleHead(t)>>

  <div class="container__box">
    <div class="container__inner-box">
      <<layout.root({
        sidebar: t`sidebar`,
        contents: t`single`
      }, t)>>
    </div>
  </div>

  <<layout.bodyFoot(t)>>
  <<layout.bodySingleFoot(t)>>
</body>

</html>
