<meta property="og:title" content="${_.get(data, 'title')}">
<meta property="og:type" content="blog">
<meta property="og:url" content="${_.get(data, 'url')}">

;; if (_.has(data, 'description')) {
  <meta property="og:description" content="${_.get(data, 'description')}">
;; }

;; if (_.has(data, 'image')) {
  <meta property="og:image" content="${_.get(data, 'image')}">
;; }

;; if (_.has(site, 'name')) {
  <meta property="og:site_name" content="${_.get(site, 'name')}">
;; }

;; if (_.has(data, 'audio')) {
  <meta property="og:audio" content="${_.get(data, 'audio')}">
;; }

;; if (_.has(data, 'video')) {
  <meta property="og:video" content="${_.get(data, 'video')}}">
;; }

;; if (_.has(site, 'locale')) {
  ;; _.forEach(_.flatten(_.get(site, 'locale')), (locale, idx) => {
    if (!idx) {
      <meta property="og:locale" content="${locale}">
    } else {
      <meta property="og:locale:alternate" content="${locale}">
    }
  ;; })
;; }

;; if (_.has(site, 'determiner')) {
  <meta property="og:determiner" content="${_.get(site, 'determiner')}">
;; }
